<template>
    <div class="search-bar">
        <div id="search-parent">
            <input id="search" type="text" v-on:input="handleSearch" />
            <div id="line"></div>
        </div>
        <hover-notification>
            <template v-slot:notification>coming soon</template>
            <template v-slot:content
                ><span id="advanced-search">advanced search</span></template
            >
        </hover-notification>
    </div>
</template>

<script>
import HoverNotification from "@/components/HoverNotification.vue";
import Fuse from "fuse.js";

export default {
    name: "SearchBar",
    components: {
        HoverNotification,
    },
    props: {
        index: {
            type: Array,
            required: true,
        },
    },
    watch: {
        //Watch for when the index is updated and mark that Fuse is no longer synced
        index() {
            this.synced = false;
        },
    },
    data: function () {
        return {
            synced: false,
            options: {
                includeScore: true,
                keys: [
                    {
                        name: "name",
                        weight: 1,
                    },
                    {
                        name: "version",
                        weight: 0.5,
                    },
                    {
                        name: "tags",
                        weight: 0.5,
                    },
                    {
                        name: "description",
                        weight: 0.3,
                    },
                    {
                        name: "author",
                        weight: 0.3,
                    },
                ],
            },
        };
    },
    mounted() {
        this.fuse = new Fuse(this.index, this.options);
    },
    methods: {
        //Only update Fuse dataset when the index updates and the user inputs a search query
        updateFuse() {
            this.fuse = new Fuse(this.index, this.options);
            this.synced = true;
        },
        handleSearch(e) {
            if (e.target.value) {
                if (!this.synced) {
                    this.updateFuse();
                }
                this.$emit("resultsUpdated", this.fuse.search(e.target.value));
            } else {
                this.$emit("noSearchQuery");
            }
        },
    },
};
</script>

<style scoped>
.search-bar {
    width: 100%;
    margin-bottom: 50px;
}

#search-parent {
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 30px;
}

#line {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: #000000 solid 2px;
}

#line::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    box-shadow: 0 1px 3.1px rgba(0, 0, 0, 0.211),
        0 2.2px 6.9px rgba(0, 0, 0, 0.31), 0 3.7px 11.5px rgba(0, 0, 0, 0.383),
        0 5.6px 17.4px rgba(0, 0, 0, 0.444), 0 8.1px 25px rgba(0, 0, 0, 0.5),
        0 11.5px 35.4px rgba(0, 0, 0, 0.556),
        0 16.3px 50.3px rgba(0, 0, 0, 0.617), 0 23.7px 73px rgba(0, 0, 0, 0.69),
        0 36.6px 112.5px rgba(0, 0, 0, 0.789), 0 65px 200px rgba(0, 0, 0, 1);
}

#search {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: 0;
    background: none;
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
}

#search:focus ~ #line::after {
    opacity: 1;
}

#advanced-search {
    float: right;
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin: 10px 0 0 0;
    cursor: not-allowed;
}
</style>
