<template>
    <div class="project-item">
        <img id="image" src="https://via.placeholder.com/100" alt="" />
        <div id="info-parent">
            <h1 id="title">
                {{ title }}<span id="version"> v{{ version }}</span>
            </h1>
            <div id="tags">
                <div class="tag" v-for="(content, i) in tags" v-bind:key="i">
                    {{ content }}
                </div>
            </div>
            <span id="details"
                >created {{ date }} {{ author ? "by" : "" }} {{ author }}</span
            >
        </div>
        <div id="icons">
            <hover-notification>
                <template v-slot:notification>open in explorer</template>
                <template v-slot:content>
                    <img
                        id="folder"
                        class="icon"
                        src="@/assets/file-explorer.svg"
                        alt="Open in file explorer"
                        v-on:click="openFolder(folderPath)"
                /></template>
            </hover-notification>
            <hover-notification>
                <template v-slot:notification>coming soon</template>
                <template v-slot:content
                    ><img
                        id="git"
                        class="icon"
                        src="@/assets/git.svg"
                        alt="Open git remote"
                /></template>
            </hover-notification>
            <hover-notification>
                <template v-slot:notification>coming soon</template>
                <template v-slot:content
                    ><img
                        id="upload"
                        class="icon"
                        src="@/assets/upload.svg"
                        alt="Upload to cloud storage"
                /></template>
            </hover-notification>
            <hover-notification>
                <template v-slot:notification>edit details</template>
                <template v-slot:content
                    ><img
                        id="edit"
                        class="icon"
                        src="@/assets/edit.svg"
                        alt="Edit project details"
                /></template>
            </hover-notification>
        </div>
    </div>
</template>

<script>
import HoverNotification from "@/components/HoverNotification.vue";

export default {
    name: "Project",
    components: {
        HoverNotification,
    },
    props: {
        imageURL: {
            type: String,
        },
        title: {
            type: String,
            required: true,
        },
        version: {
            type: String,
        },
        description: {
            type: String,
        },
        tags: {
            type: Array,
        },
        created: {
            type: Number,
        },
        author: {
            type: String,
        },
        folderPath: {
            type: String,
            required: true,
        },
        gitRemote: {
            type: String,
        },
    },
    computed: {
        date() {
            const date = new Date(this.created * 1000);
            const month = date.getMonth() + 1;
            const day = date.getDate();
            const year = date.getFullYear().toString().slice(-2);
            return `${month}/${day}/${year}`;
        },
    },
    methods: {
        openFolder(path) {
            window.ipcRenderer.openProject(path);
        },
    },
};
</script>

<style scoped>
.project-item {
    position: relative;
    background-color: #efefef;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

#image {
    height: 100px;
    width: auto;
}

#info-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#title {
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 0 10px 5px 20px;
}

#version {
    font-weight: normal;
    font-size: 11px;
}

#tags {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    cursor: default;
}

.tag {
    background-color: #d7d7d7;
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin: 0 0 0 20px;
    padding: 2px 5px;
}

#details {
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin: 5px 20px;
}

#icons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.icon {
    display: block;
    padding: 5px 5px;
    width: 15px;
    height: 15px;
    opacity: 1;
}

#upload,
#git {
    cursor: not-allowed;
}
</style>
