<template>
    <div class="home">
        <new-project />
        <div id="sidebar-selector-parent">
            <sidebar-selector
                v-bind:selected="selectedComputed"
                v-on:updateSelected="updateSelected"
            />
        </div>
        <search-list />
    </div>
</template>

<script>
import NewProject from "@/components/NewProject.vue";
import SearchList from "@/components/SearchList.vue";
import SidebarSelector from "@/components/SidebarSelector.vue";

export default {
    name: "Home",
    components: {
        NewProject,
        SearchList,
        SidebarSelector,
    },
    props: {
        selected: {
            type: Number,
            required: true,
        },
    },
    computed: {
        selectedComputed: {
            get() {
                return this.selected;
            },
            set(newValue) {
                this.$emit("updateSelected", newValue);
            },
        },
    },
    methods: {
        updateSelected(e) {
            this.selectedComputed = e;
        },
    },
};
</script>

<style scoped lang="scss">
.home {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

#sidebar-selector-parent {
    position: relative;
}
</style>
