<template>
    <div class="setup">
        <div id="flex-center">
            <loading-animation
                id="loading-animation"
                v-on:animationLoaded="storeAnimation"
            />
            <div id="select-folder" v-on:click="handleClick">
                <img
                    alt="Add Folder Icon"
                    id="select-folder-icon"
                    src="@/assets/addFolder.svg"
                />
                <span id="select-folder-text">select folder</span>
            </div>
        </div>
    </div>
</template>

<script>
import LoadingAnimation from "@/components/LoadingAnimation.vue";
// import { remote } from "electron";
// import Ajv from "ajv";
//
// const fs = remote.require("fs");
// const fsPromises = remote.require("fs").promises;
// const path = remote.require("path");

export default {
    name: "Setup",
    components: {
        LoadingAnimation,
    },
    // data: function () {
    //     return {
    //         succeeded: 0,
    //         failed: 0,
    //     };
    // },
    methods: {
        async handleClick() {
            this.playAnimation();
            const path = (await window.ipcRenderer.selectIndex()).filePaths[0];
            await window.ipcRenderer.setIndex(path);
            await window.ipcRenderer.reinitializeProjectManager();
            await this.$router.push({ path: "/" });
        },
        storeAnimation(animation) {
            this.animation = animation;
        },
        playAnimation() {
            this.animation.play();
            setTimeout(() => {
                this.animation.playSegments([25, 95], true);
            }, 3100);
        },
        stopAnimation() {
            this.animation.stop();
        },
    },
};
</script>

<style scoped>
.setup {
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: #272727;
}

#flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#loading-animation {
    margin-bottom: 75px;
}

#select-folder {
    width: 250px;
    height: 50px;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0.5px 0.3px -10px rgba(0, 0, 0, 0.011),
        0 1px 0.7px -10px rgba(0, 0, 0, 0.016),
        0 1.7px 1.2px -10px rgba(0, 0, 0, 0.019),
        0 2.6px 1.7px -10px rgba(0, 0, 0, 0.022),
        0 3.8px 2.5px -10px rgba(0, 0, 0, 0.025),
        0 5.3px 3.5px -10px rgba(0, 0, 0, 0.028),
        0 7.5px 5px -10px rgba(0, 0, 0, 0.031),
        0 11px 7.3px -10px rgba(0, 0, 0, 0.034),
        0 16.9px 11.3px -10px rgba(0, 0, 0, 0.039),
        0 30px 20px -10px rgba(0, 0, 0, 0.05);
}

#select-folder::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 0.5px 0.3px rgba(0, 0, 0, 0.011),
        0 1px 0.7px rgba(0, 0, 0, 0.016), 0 1.7px 1.2px rgba(0, 0, 0, 0.019),
        0 2.6px 1.7px rgba(0, 0, 0, 0.022), 0 3.8px 2.5px rgba(0, 0, 0, 0.025),
        0 5.3px 3.5px rgba(0, 0, 0, 0.028), 0 7.5px 5px rgba(0, 0, 0, 0.031),
        0 11px 7.3px rgba(0, 0, 0, 0.034), 0 16.9px 11.3px rgba(0, 0, 0, 0.039),
        0 30px 20px rgba(0, 0, 0, 0.05);
    transition: opacity 150ms ease-in;
}

#select-folder:hover::after {
    opacity: 1;
}

#select-folder:active::after {
    transition: opacity 5ms ease-in;
    opacity: 0;
}

#select-folder-icon {
    width: 24px;
    height: auto;
    margin-right: 20px;
}

#select-folder-text {
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}
</style>
