<template>
    <div class="new-project-version">
        <new-project-version-item
            v-for="(versionNumber, i) in version"
            v-bind:key="i"
            v-bind:version="versionNumber"
            v-on:increase="handleIncrease(i)"
            v-on:decrease="handleDecrease(i)"
        />
    </div>
</template>

<script>
import Vue from "vue";
import NewProjectVersionItem from "@/components/NewProject/NewProjectVersionItem.vue";

export default {
    name: "NewProjectVersion",
    components: {
        NewProjectVersionItem,
    },
    props: {
        getVersion: {
            type: Object,
            required: true,
        },
    },
    computed: {
        version: {
            get() {
                return this.getVersion;
            },
            set(value) {
                this.$emit("updateVersion", value);
            },
        },
    },
    methods: {
        handleIncrease(i) {
            Vue.set(this.version, i, this.version[i] + 1);
        },
        handleDecrease(i) {
            if (this.version[i] > 0) {
                Vue.set(this.version, i, this.version[i] - 1);
            }
        },
    },
};
</script>

<style scoped lang="scss">
.new-project-version {
    display: flex;
    width: 100%;
    height: 100%;
}
</style>
