<template>
    <div class="new-project-image">
        <img
            id="upload-icon"
            src="@/assets/upload-image.svg"
            alt="Upload Image Icon"
        />
    </div>
</template>

<script>
export default {
    name: "NewProjectImage",
};
</script>

<style scoped>
.new-project-image {
    width: 130px;
    height: 130px;
    background: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#upload-icon {
    width: 24px;
    height: 24px;
}
</style>
