<template>
    <div class="new-project-version-item-cursor">
        <div
            id="content"
            v-on:mouseover="handleMouseOver"
            v-on:mouseout="handleMouseOut"
        >
            <div
                id="top"
                v-on:mouseover="handleTopMouseOver"
                v-on:mouseout="handleTopMouseOut"
                v-on:click="handleTopClick"
            ></div>
            <div
                id="bottom"
                v-on:mouseover="handleBottomMouseOver"
                v-on:mouseout="handleBottomMouseOut"
                v-on:click="handleBottomClick"
            ></div>
            <slot></slot>
        </div>
        <div ref="cursor" id="cursor">
            <div id="arrow-parent">
                <div ref="arrow" id="arrow"></div>
            </div>
        </div>
    </div>
</template>

<script>
import lottie from "lottie-web";
import * as animationData from "@/assets/cursor.json";

export default {
    name: "NewProjectVersionItemCursor",
    mounted() {
        const animationElement = this.$refs.arrow;
        this.animation = lottie.loadAnimation({
            container: animationElement,
            renderer: "svg",
            loop: false,
            autoplay: false,
            animationData: animationData.default,
        });
        this.animation.setSpeed(2);
    },
    data: function () {
        return {
            //0: none
            //1: top
            //2: bottom
            lastIn: 0,
        };
    },
    methods: {
        handleMouseOver() {
            if (this.mouseListener) {
                document.removeEventListener("mousemove", this.mouseListener);
            }
            const cursor = this.$refs["cursor"];
            cursor.style.display = "block";
            const width = cursor.offsetWidth;
            const height = cursor.offsetHeight;
            this.mouseListener = (e) => {
                cursor.style.left = e.pageX - width / 2 + "px";
                cursor.style.top = e.pageY - height / 2 + "px";
            };
            document.addEventListener("mousemove", this.mouseListener);
        },
        handleMouseOut() {
            document.removeEventListener("mousemove", this.mouseListener);
            const cursor = this.$refs["cursor"];
            cursor.style.display = "none";
        },
        handleTopMouseOver() {
            clearTimeout(this.resetTimer);
            if (this.lastIn === 0) {
                this.animation.goToAndStop(0, true);
            } else {
                this.animation.setDirection(-1);
                this.animation.play();
            }
        },
        handleTopMouseOut() {
            this.lastIn = 1;
            clearTimeout(this.resetTimer);
            this.resetTimer = setTimeout(() => {
                this.lastIn = 0;
            }, 100);
        },
        handleTopClick() {
            this.$emit("increase");
        },
        handleBottomMouseOver() {
            clearTimeout(this.resetTimer);
            if (this.lastIn === 0) {
                this.animation.goToAndStop(14, true);
            } else {
                this.animation.setDirection(1);
                this.animation.play();
            }
        },
        handleBottomMouseOut() {
            this.lastIn = 2;
            clearTimeout(this.resetTimer);
            this.resetTimer = setTimeout(() => {
                this.lastIn = 0;
            }, 100);
        },
        handleBottomClick() {
            this.$emit("decrease");
        },
    },
};
</script>

<style scoped>
.new-project-version-item-cursor {
    width: 100%;
    height: 100%;
}

#cursor {
    display: none;
    width: 24px;
    height: 24px;
    background-color: #000000;
    position: fixed;
    pointer-events: none;
    transition: width 100ms, height 100ms, margin 100ms;
}

#arrow-parent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: none;
}

#content:active ~ #cursor {
    width: 20px;
    height: 20px;
    margin: 2px;
}

#top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
}

#bottom {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
}
</style>
