<template>
    <div class="new-project-version-item">
        <new-project-version-item-cursor
            v-on:increase="handleIncrease"
            v-on:decrease="handleDecrease"
        >
            <div id="version-block">
                <div id="version-number">{{ version }}</div>
            </div>
        </new-project-version-item-cursor>
    </div>
</template>

<script>
import NewProjectVersionItemCursor from "@/components/NewProject/NewProjectVersionItemCursor.vue";

export default {
    name: "NewProjectVersionItem",
    props: {
        version: {
            type: Number,
            required: true,
        },
    },
    components: {
        NewProjectVersionItemCursor,
    },
    methods: {
        handleIncrease() {
            this.$emit("increase");
        },
        handleDecrease() {
            this.$emit("decrease");
        },
    },
};
</script>

<style scoped lang="scss">
.new-project-version-item {
    flex-grow: 1;
}

.new-project-version-item:not(:last-child) {
    margin-right: 13px;
}

#version-block {
    background-color: $gray1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: none;
}

#version-number {
    font-family: $font;
    font-weight: 600;
    font-size: 24px;
    cursor: none;
}
</style>
