<template>
    <div class="new-project-tags">
        <div
            ref="tags"
            id="tags"
            v-on:click="handleClick"
            v-on:keydown="handleKeyDown"
            v-on:input="handleInput"
        >
            <!-- eslint-disable-next-line -->
            <!-- display: inline -->
            <div
                ref="tag"
                v-on:click="handleTagClick"
                v-on:keydown="handleTagKeyDown"
                v-on:focusout="handleTagFocusOut($event, i)"
                v-on:input="handleTagInput($event, i)"
                v-for="(text, i) in tags"
                v-bind:key="i"
                class="tag"
                >{{ text }}</div
            >
            <div
                contenteditable="true"
                ref="newTag"
                id="new-tag"
                v-on:focusin="handleNewTagFocusIn"
                v-on:focusout="handleNewTagFocusOut"
            ></div>
        </div>
        <div ref="tip" id="tip">
            <img id="enter" src="@/assets/enter-key.svg" alt="Enter Key" />
            to create tag
        </div>
        <div id="tags-error-parent">
            <input-error v-bind:notification="tagsNotification" />
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import InputError from "@/components/InputError";

export default {
    name: "NewProjectTags",
    components: {
        InputError,
    },
    props: {
        getTags: {
            type: Array,
            required: true,
        },
    },
    computed: {
        tags: {
            get() {
                return this.getTags;
            },
            set(value) {
                this.$emit("tagsUpdated", value);
            },
        },
    },
    data: function () {
        return {
            tagsNotification: "",
        };
    },
    watch: {
        tags() {
            if (this.tags.length !== 0) {
                this.$refs.tip.style.display = "none";
            } else {
                this.$refs.tip.style.display = "flex";
            }
        },
    },
    methods: {
        handleKeyDown(e) {
            const element = e.target;

            if (e.code === "Backspace") {
                const selection = window.getSelection();

                if (
                    selection.anchorOffset === 0 &&
                    selection.rangeCount === 1 &&
                    e.repeat === false
                ) {
                    e.preventDefault();
                    if (this.tags.length > 0) {
                        const tag = this.$refs.tag[this.tags.length - 1];
                        this.$refs.newTag.contentEditable = false;
                        tag.contentEditable = true;
                        tag.focus();
                        selection.setPosition(tag, 1);
                    }
                }
            }

            // Only run if the input is not in an already created tag
            if (element === this.$refs.newTag) {
                if (e.code === "Enter") {
                    e.preventDefault();
                    if (!this.tagsNotification) {
                        let newTag = e.target.textContent;
                        this.tags.push(newTag);
                        e.target.textContent = "";
                    }
                }
            }
        },
        handleTagKeyDown(e) {
            const element = e.target;
            if (e.code === "Enter") {
                e.preventDefault();
                element.blur();
            }
        },
        handleClick() {
            this.$refs.newTag.focus();
        },
        handleNewTagFocusIn() {
            this.$refs.tags.classList.add("focus");
        },
        handleNewTagFocusOut() {
            this.$refs.tags.classList.remove("focus");
        },
        handleTagClick(e) {
            this.$refs.newTag.contentEditable = false;
            e.target.contentEditable = true;
            e.target.focus();
        },
        handleTagInput(e, key) {
            if (!e.target.innerText) {
                this.$refs.newTag.contentEditable = true;
                this.$refs.newTag.focus();
                this.updateInputTag(e, key);
            }
        },
        handleTagFocusOut(e, key) {
            this.$refs.newTag.contentEditable = true;
            e.target.contentEditable = false;
            this.updateInputTag(e, key);
        },
        updateInputTag(e, key) {
            if (e.target.innerText) {
                Vue.set(this.tags, key, e.target.innerText);
            } else {
                Vue.delete(this.tags, key);
            }
        },
        handleInput(e) {
            if (this.tags.includes(e.target.textContent)) {
                this.tagsNotification = "Tags must be unique.";
            } else {
                this.tagsNotification = "";
            }
        },
    },
};
</script>

<style scoped>
.new-project-tags {
    position: relative;
    width: 100%;
    height: 100%;
}

#tags {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    resize: none;
    padding: 15px;
    border: none;
    background: #efefef;
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    cursor: text;
    position: relative;
    overflow-y: auto;
}

#tags::-webkit-scrollbar {
    display: none;
}

.focus {
    outline: 1px solid #ff5349;
}

#new-tag {
    outline: none;
    min-width: 1px;
    display: inline-block;
}

.tag {
    background-color: #d7d7d7;
    display: inline-block;
    padding: 2px 5px;
    margin: 0 5px 5px 0;
    outline: none;
    position: relative;
}

.tag:focus {
    outline: 1px solid #ff5349;
}

#outline {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#tip {
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#enter {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#tags-error-parent {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
</style>
