<template>
    <div class="notification">
        <div id="notification" ref="notification">
            <slot name="notification"></slot>
        </div>
        <div
            id="content"
            v-on:mouseover="notificationStart"
            v-on:mouseout="notificationEnd"
        >
            <slot class="test" name="content"></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "HoverNotification",
    methods: {
        notificationStart() {
            if (this.mouseListener) {
                document.removeEventListener("mousemove", this.mouseListener);
            }
            const notification = this.$refs["notification"];
            notification.style.display = "block";
            this.mouseListener = (e) => {
                notification.style.left = e.pageX + "px";
                notification.style.top = e.pageY + "px";
            };
            document.addEventListener("mousemove", this.mouseListener);
        },
        notificationEnd() {
            document.removeEventListener("mousemove", this.mouseListener);
            const notification = this.$refs["notification"];
            notification.style.display = "none";
        },
    },
};
</script>

<style scoped>
.notification {
}

#notification {
    display: none;
    position: fixed;
    font-family: Source Code Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin: 10px 0 0 10px;
    padding: 5px 20px;
    z-index: 2;
    color: #ffffff;
    background-color: #000000;
}

#content {
    margin: 0;
    height: 100%;
    width: 100%;
}
</style>
