<template>
    <hover-notification class="input-error" v-show="!!notification">
        <template v-slot:notification>{{ notification }}</template>
        <template v-slot:content
            ><img
                v-show="color === 'gray-1'"
                class="error-icon"
                src="@/assets/error.svg"
                v-bind:alt="'Error: ' + notification" /><img
                v-show="color === 'primary-red'"
                class="error-icon"
                src="@/assets/error-red.svg"
                v-bind:alt="'Error: ' + notification"
        /></template>
    </hover-notification>
</template>

<script>
import HoverNotification from "@/components/HoverNotification";

export default {
    name: "InputError",
    props: {
        color: {
            validator(value) {
                return ["gray-1", "primary-red"].indexOf(value) !== -1;
            },
            default: "gray-1",
        },
        notification: {
            type: String,
        },
    },
    components: {
        HoverNotification,
    },
};
</script>

<style scoped>
.input-error {
    height: 20px;
    width: 20px;
}

.error-icon {
    display: block;
    height: 100%;
    width: auto;
}
</style>
