<template>
    <div class="loading-animation">
        <img
            id="loading-animation-rectangle"
            src="@/assets/animationRectangle.svg"
            alt="Loading Animation Rectangle"
        />
        <div id="animation"></div>
    </div>
</template>

<script>
import lottie from "lottie-web";
import * as animationData from "@/assets/animation.json";

export default {
    name: "LoadingAnimation",
    mounted() {
        const animationElement = document.getElementById("animation");
        const animation = lottie.loadAnimation({
            container: animationElement,
            renderer: "svg",
            loop: true,
            autoplay: false,
            animationData: animationData.default,
        });
        this.$emit("animationLoaded", animation);
    },
};
</script>

<style scoped>
.loading-animation {
    position: relative;
    width: 100%;
    height: 200px;
}

#loading-animation-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
