<template>
    <div class="new-project">
        <div id="margin">
            <h1 id="title">new <br />project</h1>
            <div class="field-with-error">
                <input
                    class="input-field"
                    id="name"
                    v-on:input="handleNameInput"
                    v-model="name"
                />
                <div id="name-error-parent" class="error-parent">
                    <input-error v-bind:notification="nameNotification" />
                </div>
            </div>
            <label class="label" id="name-label" for="name">name</label>
            <textarea
                class="input-field"
                id="description"
                v-model="description"
            />
            <label class="label" id="description-label" for="description"
                >description</label
            >
            <div id="tags-parent">
                <new-project-tags
                    v-on:tagsUpdated="updateTags"
                    v-bind:get-tags="tags"
                />
            </div>
            <div class="label">tags</div>
            <div id="image-version-author-row">
                <div>
                    <new-project-image />
                    <div class="label">image</div>
                </div>
                <div id="version-author-parent">
                    <div id="version-parent">
                        <new-project-version
                            v-on:updateVersion="updateVersion"
                            v-bind:getVersion="version"
                        />
                    </div>
                    <input class="input-field" id="author" v-model="author" />
                    <label class="label" id="author-label" for="author"
                        >author</label
                    >
                </div>
            </div>
            <div id="create-button-parent">
                <div id="create-error-parent" class="error-parent">
                    <input-error
                        color="primary-red"
                        v-bind:notification="createNotification"
                    />
                </div>
                <div id="create-button" v-on:click="createProject">
                    <img
                        src="@/assets/add-folder.svg"
                        alt="Add Folder Icon"
                        id="add-folder-icon"
                    />
                    create
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import InputError from "@/components/InputError.vue";
import NewProjectTags from "@/components/NewProject/NewProjectTags.vue";
import NewProjectImage from "@/components/NewProject/NewProjectImage.vue";
import NewProjectVersion from "@/components/NewProject/NewProjectVersion.vue";

import Ajv from "ajv";

export default {
    name: "NewProject",
    components: {
        InputError,
        NewProjectTags,
        NewProjectImage,
        NewProjectVersion,
    },
    computed: {
        versionString() {
            return `${this.version.major}.${this.version.minor}.${this.version.patch}`;
        },
    },
    data: function () {
        return {
            nameNotification: "",
            createNotification: "",
            name: "",
            description: "",
            tags: [],
            version: {
                major: 0,
                minor: 1,
                patch: 0,
            },
            author: "",
        };
    },
    watch: {
        name() {
            this.clearCreateNotification();
        },
        description() {
            this.clearCreateNotification();
        },
        tags() {
            this.clearCreateNotification();
        },
        version() {
            this.clearCreateNotification();
        },
        author() {
            this.clearCreateNotification();
        },
    },
    methods: {
        clearCreateNotification() {
            this.createNotification = "";
        },
        clearForm() {
            this.name = "";
            this.description = "";
            this.tags = [];
            this.version = {
                major: 0,
                minor: 1,
                patch: 0,
            };
            this.author = "";
        },
        validateCreateAttempt() {
            const nameNotification = this.validateCreateAttemptName();
            if (nameNotification) {
                this.nameNotification = nameNotification;
                return true;
            }
        },
        createProject() {
            if (this.validateCreateAttempt()) return;
            const project = {
                created: Math.trunc(new Date().getTime() / 1000),
            };
            if (this.name) {
                project.name = this.name;
            }
            if (this.description) {
                project.description = this.description;
            }
            if (this.version) {
                const version = this.version;
                project.version = `${version.major}.${version.minor}.${version.patch}`;
            }
            if (this.tags.length > 0) {
                project.tags = this.tags;
            }
            if (this.author) {
                project.author = this.author;
            }
            const ajv = new Ajv();
            const validateProject = ajv.compile(
                require("@/schema/project.schema.json")
            );
            const valid = validateProject(project);
            if (valid) {
                window.ipcRenderer.addProject(this.name, project).then((e) => {
                    if (e.toString().startsWith("Error")) {
                        this.createNotification =
                            "There was an error while creating your project.";
                        // eslint-disable-next-line no-console
                        console.log(JSON.stringify(e.toString()));
                    } else {
                        this.clearForm();
                    }
                });
            } else {
                // Only happens if previous form validation fails
                this.createNotification =
                    "There was an error while creating your project.";
                // eslint-disable-next-line no-console
                console.log(JSON.stringify(validateProject.errors));
            }
        },
        updateTags(tags) {
            this.tags = tags;
        },
        updateVersion(version) {
            this.version = version;
        },
        handleNameInput(e) {
            const input = e.target;
            const regex = /^(?!.*[\\/?%*:|"<>])(?!.*CON|PRN|AUX|CLOCK\$|NUL|COM1|COM2|COM3|COM4|COM5|COM6|COM7|COM8|COM9|LPT1|LPT2|LPT3|LPT4|LPT5|LPT6|LPT7|LPT8|LPT9)/i;
            if (!regex.test(input.value)) {
                this.nameNotification = "Must be a valid folder name.";
            } else {
                this.nameNotification = "";
            }
        },
        validateCreateAttemptName() {
            let state;
            if (this.name.length === 0) {
                state = "Must not be empty.";
            }
            return state;
        },
    },
};
</script>

<style scoped lang="scss">
.new-project {
    flex-shrink: 0;
    height: 100%;
    width: 425px;
    background: $gray2;
}

#margin {
    margin: 0 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    @extend .big;
    margin-top: 30px;
}

.field-with-error {
    position: relative;
}

.input-field {
    resize: none;
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background: $gray1;
    font-family: $font;
    font-weight: normal;
    font-size: 18px;
    outline-color: $primary-red;
}

.label {
    @extend .medium;
    display: inline-block;
    margin: 8px 0 20px 0;
    cursor: default;
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea {
    padding-top: 15px;
    padding-bottom: 15px;
}

#name {
    height: 40px;
}

#name-label {
    color: $primary-red;
}

#description {
    height: 0;
    flex-grow: 1;
}

#tags-parent {
    height: 30px;
    width: 100%;
    flex-grow: 1;
}

#image-version-author-row {
    display: flex;
}

#version-author-parent {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

#version-parent {
    flex-grow: 1;
    margin-bottom: 20px;
}

#author {
    height: 40px;
}

#create-button-parent {
    position: relative;
    display: flex;
    justify-content: center;
}

#create-button {
    @extend .medium;
    width: 200px;
    height: 50px;
    background: $gray1;
    margin: 20px 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1.4px 2.8px rgba(0, 0, 0, 0.014),
        0 3.3px 6.7px rgba(0, 0, 0, 0.02), 0 6.3px 12.5px rgba(0, 0, 0, 0.025),
        0 11.2px 22.3px rgba(0, 0, 0, 0.03),
        0 20.9px 41.8px rgba(0, 0, 0, 0.036), 0 50px 100px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
    transition: transform 200ms ease-in;
}

#create-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 1.8px 2.8px rgba(0, 0, 0, 0.008),
        0 4.3px 6.7px rgba(0, 0, 0, 0.012), 0 8.1px 12.5px rgba(0, 0, 0, 0.015),
        0 14.5px 22.3px rgba(0, 0, 0, 0.018),
        0 27.2px 41.8px rgba(0, 0, 0, 0.022), 0 65px 100px rgba(0, 0, 0, 0.03);
    opacity: 0;
    transition: opacity 250ms ease-in;
}

#create-button:hover::after {
    opacity: 1;
}

#create-button:hover {
    transform: translateY(-1px);
}

#add-folder-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.error-parent {
    position: absolute;
    display: flex;
    align-items: center;
}

#name-error-parent {
    height: 100%;
    right: 10px;
    top: 0;
}

#create-error-parent {
    margin-top: 20px;
    height: 50px;
    right: 10px;
    top: 0;
}
</style>
