<template>
    <div class="search-list">
        <search-list-bar
            v-bind:index="index"
            v-on:resultsUpdated="handleResultsUpdated"
            v-on:noSearchQuery="handleNoSearchQuery"
        />
        <div id="projects">
            <search-list-project
                v-show="displaySearchResults"
                v-for="(data, i) in searchResults"
                v-bind:key="i"
                v-bind:folder-path="data.item.folder_name"
                v-bind:title="data.item.name"
                v-bind:version="data.item.version"
                v-bind:description="data.item.description"
                v-bind:tags="data.item.tags"
                v-bind:created="data.item.created"
                v-bind:author="data.item.author"
            />
            <search-list-project
                v-show="!displaySearchResults"
                v-for="(data, i) in index"
                v-bind:key="'search' + i"
                v-bind:folder-path="data.folder_name"
                v-bind:title="data.name"
                v-bind:version="data.version"
                v-bind:description="data.description"
                v-bind:tags="data.tags"
                v-bind:created="data.created"
                v-bind:author="data.author"
            />
        </div>
    </div>
</template>

<script>
import SearchListProject from "@/components/SearchList/SearchListProject.vue";
import SearchListBar from "@/components/SearchList/SearchListBar.vue";

export default {
    name: "SearchList",
    components: {
        SearchListProject,
        SearchListBar,
    },
    data: function () {
        return {
            displaySearchResults: false,
            index: [],
            searchResults: [],
        };
    },
    mounted() {
        window.ipcRenderer.getIndex().then((r) => {
            this.index = r;
        });

        this.indexUpdatedListener = (event, index) => {
            this.index = index;
        };
        window.ipcRenderer.indexUpdatedListener(this.indexUpdatedListener);
    },
    beforeDestroy() {
        window.ipcRenderer.indexUpdatedListenerRemove();
    },
    methods: {
        handleResultsUpdated(e) {
            this.displaySearchResults = true;
            this.searchResults = e;
        },
        handleNoSearchQuery() {
            this.displaySearchResults = false;
        },
    },
};
</script>

<style lang="scss" scoped>
.search-list {
    width: 0;
    height: 100%;
    flex-grow: 1;
    margin: 0 8%;
    display: flex;
    flex-direction: column;
}

#projects {
    height: 0;
    padding-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#projects::-webkit-scrollbar {
    display: none;
}
</style>
