<template>
    <div class="sidebar-selector">
        <hover-notification v-show="updateReady">
            <template v-slot:notification
                >Click to update to {{ updateReadyVersion }}.</template
            >
            <template v-slot:content>
                <img
                    class="icon"
                    id="update-ready"
                    v-on:click="applyUpdate"
                    src="@/assets/update.svg"
                    alt="update ready"
                />
            </template>
        </hover-notification>

        <hover-notification v-show="downloadingUpdate">
            <template v-slot:notification
                >Installing new update ({{ downloadProgressPercent }}%
                done).</template
            >
            <template v-slot:content>
                <img
                    class="icon rotate"
                    src="@/assets/update-downloading.svg"
                    alt="update downloading"
                />
            </template>
        </hover-notification>
        <img
            class="icon icon-dim"
            src="@/assets/add-folder.svg"
            v-on:click="setSelected(0)"
            alt="add folder"
        />
        <img
            class="icon icon-dim"
            src="@/assets/settings.svg"
            v-on:click="setSelected(2)"
            alt="settings"
        />
        <div id="hover"></div>
    </div>
</template>

<script>
import HoverNotification from "@/components/HoverNotification.vue";

export default {
    name: "SidebarSelector",
    props: {
        selected: {
            type: Number,
            required: true,
        },
    },
    components: {
        HoverNotification,
    },
    data() {
        return {
            offset: 0,
            downloadProgressPercent: 0,
            updateReadyVersion: "",
            downloadingUpdate: false,
            updateReady: false,
        };
    },
    computed: {
        selectedComputed: {
            get() {
                return this.selected;
            },
            set(newValue) {
                this.$emit("updateSelected", newValue);
            },
        },
    },
    methods: {
        setSelected(value) {
            this.selectedComputed = value;
        },
        applyUpdate() {
            window.ipcRenderer.installUpdate();
        },
    },
    mounted() {
        window.ipcRenderer.downloadProgressListener((e, progressObj) => {
            this.downloadingUpdate = true;
            this.downloadProgressPercent = Math.floor(progressObj.percent);
        });

        window.ipcRenderer.updateDownloadedListener((e, info) => {
            this.downloadingUpdate = false;
            this.updateReady = true;
            this.updateReadyVersion = info.version;
        });
    },
    beforeDestroy() {
        window.ipcRenderer.downloadProgressListenerRemove();
        window.ipcRenderer.updateDownloadedListenerRemove();
    },
};
</script>

<style scoped lang="scss">
.sidebar-selector {
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.sidebar-selector > .icon-dim {
    opacity: 0.2;
    transition: opacity 500ms ease-in 2s;
}

.sidebar-selector:hover > .icon-dim {
    transition: opacity 500ms ease-in;
    opacity: 1;
}

.rotate {
    animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate {
    80% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

#update-ready {
    cursor: pointer;
}

$icon-height: 22px;
$icon-padding: 2px;
$icon-vertical-margin: 8px;

#offset {
    position: absolute;
    visibility: hidden;
    padding: $icon-padding 0;
    height: calc(#{$icon-height} + #{$icon-vertical-margin});
}

#selection-line {
    position: absolute;
    top: 0;
    transition: top 300ms ease-in-out;
    background-color: $gray-2;
    height: $icon-height;
    padding: $icon-padding 0;
    width: 2px;
    margin: $icon-vertical-margin 0 0 0;
}

.icon {
    display: block;
    height: $icon-height;
    width: auto;
    padding: $icon-padding;
    margin: $icon-vertical-margin 0 0 10px;
}

.icon-dim {
    cursor: pointer;
}
</style>
