<template>
    <div class="title-bar">
        <div id="drag-bar" class="unmaximized-margin">
            <img id="logo" src="@/assets/logo.svg" alt="logo" />
        </div>
        <div id="controls-parent">
            <div class="controls">
                <img
                    class="controls-icon"
                    id="minimize"
                    src="@/assets/minimize.svg"
                    alt="minimize"
                    v-on:click="minimize"
                />
            </div>
            <div class="controls">
                <img
                    class="controls-icon"
                    id="maximize"
                    src="@/assets/maximize.svg"
                    alt="maximize"
                    v-on:click="maximize"
                />
            </div>
            <div class="controls">
                <img
                    class="controls-icon"
                    id="close"
                    src="@/assets/close.svg"
                    alt="close"
                    v-on:click="closeWindow"
                />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "TitleBar",
    data() {
        return {
            maximized: false,
        };
    },
    methods: {
        minimize() {
            window.ipcRenderer.minimize();
        },
        maximize() {
            if (this.maximized) {
                // Maximized -> Unmaximized
                window.ipcRenderer.unmaximize();
            } else {
                // Unmaximized -> Maximized
                window.ipcRenderer.maximize();
            }
        },
        closeWindow() {
            window.ipcRenderer.close();
        },
    },
    beforeMount() {
        window.ipcRenderer.maximizeAllListenerRemove();
        window.ipcRenderer.unmaximizeAllListenerRemove();
    },
    mounted() {
        window.ipcRenderer.maximizeListener(() => {
            document
                .getElementById("drag-bar")
                .classList.remove("unmaximized-margin");
            this.maximized = true;
        });
        window.ipcRenderer.unmaximizeListener(() => {
            document
                .getElementById("drag-bar")
                .classList.add("unmaximized-margin");
            this.maximized = false;
        });
    },
    beforeDestroy() {
        window.ipcRenderer.maximizeAllListenerRemove();
        window.ipcRenderer.unmaximizeAllListenerRemove();
    },
};
</script>

<style scoped>
.title-bar {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #272727;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#drag-bar {
    flex-grow: 1;
    -webkit-app-region: drag;
}

/* Used in methods to add or remove the drag-bar margin for window resizing */
.unmaximized-margin {
    margin: 2px 0 0 2px;
    height: calc(100% - 2px);
}

#logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

#controls-parent {
    display: flex;
    flex-direction: row;
}

.controls {
    -webkit-app-region: no-drag;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-icon {
    width: 25px;
    height: 25px;
}
</style>
