<template>
    <div id="app">
        <title-bar id="title-bar"></title-bar>
        <div id="app-content">
            <router-view
                v-bind:selected="selected"
                v-on:updateSelected="updateSelected"
            />
        </div>
        <span id="app-version-number">version {{ version }}</span>
    </div>
</template>

<script>
import TitleBar from "./components/TitleBar.vue";

export default {
    name: "App",
    components: {
        TitleBar,
    },
    data() {
        return {
            version: "",
            selected: 0,
        };
    },
    methods: {
        updateSelected(e) {
            this.selected = e;
        },
    },
    async mounted() {
        this.version = await window.ipcRenderer.currentVersion();
    },
};
</script>

<style lang="scss">
html,
body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

#app {
    height: 100%;
}

#app-content {
    overflow-y: hidden;
    margin-top: 30px;
    height: calc(100% - 30px);
}

#app-version-number {
    @extend .small;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    position: fixed;
    right: 10px;
    bottom: 10px;
}
</style>
