$font: Source Code Pro, sans-serif;
$primary-red: #FF5349;
$primary-blue: #6A6AE5;
$black: #000000;
$gray-2: #272727;
$gray-1: #404040;
$gray: #D7D7D7;
$gray1: #EFEFEF;
$gray2: #FBFBFB;

.big {
    font-family: $font;
    font-weight: 600;
    font-size: 64px;
}

.medium {
    font-family: $font;
    font-weight: normal;
    font-size: 14px;
}

.small {
    font-family: $font;
    font-weight: normal;
    font-size: 11px;
}
